.euiControlBar {
  background: lighten($euiColorInk, 5%);
  width: calc(100% - 3rem);
  color: $controlBarText;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 3rem;
  box-shadow: inset 0 $euiSizeXXL 0 $controlBarBackground, inset 0 600rem 0 $euiColorLightestShade;
  z-index: $euiZNavigation;
  transform: translateY(0);

  &.euiControlBar--open {
    animation-duration: $euiAnimSpeedNormal;
    animation-timing-function: $euiAnimSlightResistance;
    animation-fill-mode: forwards;
  }

  &.euiControlBar--open.euiControlBar--large {
    animation-name: openPanelLarge;
  }

  &.euiControlBar--open.euiControlBar--medium {
    animation-name: openPanelMedium;
  }

  &.euiControlBar--open.euiControlBar--small {
    animation-name: openPanelMedium;
  }

  &.euiControlBar--large {
    height: 90%;
    bottom: calc((90% - #{$euiSizeXXL}) * -1);
  }

  &.euiControlBar--medium {
    height: 50%;
    bottom: calc((50% - #{$euiSizeXXL}) * -1);
  }

  &.euiControlBar--small {
    height: 25%;
    bottom: calc((25% - #{$euiSizeXXL}) * -1);
  }
}

.euiControlBar__controls {
  height: $euiSizeXXL;
  width: 100%;
  display: flex;
  align-items: center;
}

.euiControlBar__content {
  width: 100%;
  height: calc(100% - #{$euiSizeXXL});
  background-color: $euiColorLightestShade;
  animation-name: showContent;
  animation-duration: $euiAnimSpeedSlow;
  animation-iteration-count: 1;
  animation-timing-function: $euiAnimSlightResistance;
  color: $euiColorDarkestShade;
  overflow-y: scroll;
}

@keyframes openPanelLarge {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-90%);
  }
}

@keyframes openPanelMedium {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-50%);
  }
}

@keyframes openPanelSmall {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-25%);
  }
}

@keyframes showContent {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.euiControlBar__euiButtonIcon {
  min-width: $euiSizeXXL;
}

.euiControlBar__euiButton {
  border-radius: 0;
  border-left: none;
  border-top: none;
  border-bottom: none;

  &:enabled:hover {
    transform: translateY(0);
    box-shadow: none;
  }

  &:last-child {
    border-right: none;
  }

}

.euiControlBar__spacer {
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.euiControlBar__divider {
  height: 100%;
  width: 1px;
  background-color: $controlBarBorderColor;
}

.euiControlBar__euiText {
  padding: 0 $euiSizeS;
  color: $controlBarText;
}

.euiControlBar__tab {
  padding: 0 $euiSize;
  text-align: center;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $controlBarText;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  &.euiControlBar__tab--active {
    background-color: $euiColorLightestShade;
    box-shadow: inset 0 4px 0 makeHighContrastColor($euiColorPrimary, $euiColorLightestShade);
    color: makeHighContrastColor($euiColorPrimary, $euiColorLightestShade);
  }
}

.euiControlBar__euiButton + .euiControlBar__tab--active {
  box-shadow: inset 0 4px 0 makeHighContrastColor($euiColorPrimary, $euiColorLightestShade), -1px 0 0 $controlBarBackground;
}
