$controlBarBackground: lightOrDarkTheme($euiColorDarkestShade, $euiColorInk);
$controlBarText: lighten(makeHighContrastColor($euiColorLightestShade, $controlBarBackground), 20%);
$controlBarBorderColor: rgba(255, 255, 255, .2);

$colorVariables: (
  primary: $euiColorPrimary,
  secondary: $euiColorSecondary,
  accent: $euiColorAccent,
  warning: $euiColorWarning,
  danger: $euiColorDanger,
  ghost: $euiColorGhost,
);

@each $colorName, $colorValue in $colorVariables {
  .euiControlBar__controls {
    .euiText--#{$colorName} {
      color: makeHighContrastColor($colorValue, $controlBarBackground);
    }

    .euiLink.euiLink--#{$colorName} {
      color: makeHighContrastColor($colorValue, $controlBarBackground);

      &:hover {
        color: tintOrShade($colorValue, 30%, 30%);
      }
    }

    .euiButton--#{$colorName}:enabled {
      color: makeHighContrastColor($colorValue, $controlBarBackground);
      border-color: $controlBarBorderColor;
      box-shadow: none;
    }

    .euiIcon--#{$colorName} {
      color: makeHighContrastColor($colorValue, $controlBarBackground);
    }
  }
}

